/* *{
  border: red solid 1px;
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#content {
  overflow: scroll;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 480px) {
  #m-1 {
    background-color: red;
    color: white;
  }
}

@media only screen and (max-width: 991px) {
  #m-1 {
    background-color: blue;
    color: white;
  }
} /*tablets*/

@media only screen and (min-width: 1024px) {
  #m-1 {
    margin: 5px; /*desktop view*/
  }
}
